/* Globals */

:root {

  --primary-50: blue;
  --primary-300: blue;
  --primary: blue;
  --primary-700: blue;
  --primary-900: blue;
  
  --secondary-50: lightgreen;
  --secondary-300: lightgreen;
  --secondary: lightgreen;
  --secondary-700: lightgreen;
  --secondary-900: lightgreen;
}

body {}

/* 1rem=16px */
h1 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 4rem;
}

h2 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3rem;

}

h3 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;

}

h4 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;

}

h5 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}

h6 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}
li{
  list-style: none;
}

.link {
  color: lightblue;
  text-decoration: none;
}
.link:hover{
  color: blue;
}

.item{
  font-family: 'Inter', sans-serif;

  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;

}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn--primary {
  
  width: 200px;
  /* color: ; */
  background: var(--primary);
  padding: 1rem 1.5rem
}

.btn--secondary {
  width: 200px;
  /* color: ; */
  background: var(--secondary);
  padding: 1rem 1.5rem

}

p {

  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
}

p.big {

  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
}

@media (min-width: 640px) {}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}







/* Page */


body > * {
  margin-left:  15px;
  margin-right:  15px;

}
header{
  display: flex;
  height: 85vh;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 120px;
}

.about{
  margin-bottom: 100px;
}

.portfolio{
  margin-bottom: 100px;
}
.cta{
  margin-bottom: 100px;
}

footer{

  margin-bottom: 50px;
  margin-top: 50px;

}

@media (min-width: 768px) {
  body > * {
    margin-left: 80px;
    margin-right: 80px;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}


@media (min-width: 1024px) {
  body > * {
    margin-left: 100px;
    margin-right: 100px;
  }

}
