@font-face {
  font-family: 'Nebula-Regular';
  src: url('/Nebula-Regular.woff2') format('woff2');
}

/* Globals */

:root {

  --primary-50: #f6f5fe;
  --primary-300: #b5b1f9;
  --primary: #473bf0;
  --primary-700: #352cb4;
  --primary-900: #231d76;
  
  --secondary-50: #fef6f8;
  --secondary-300: #f9b5c5;
  --secondary: #ef476f;
  --secondary-700: #b33553;
  --secondary-900: #752336;

  --black: #000500;
}
body {

  margin: 0;
}
/* 1rem=16px */
h1 {
  font-family: 'Nebula-Regular',Fallback, sans-serif;

  font-weight: bold;
  font-size: 2.75rem;
  line-height: 4rem;
  color: var(--primary);
}

h2 {

  font-family: 'Nebula-Regular',Fallback, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--black);

}

h3 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--primary);

}

h4 {

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;

}

h5 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}

h6 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 4rem;

}
li{
  list-style: none;
}
p {

  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;

  color: var(--black);
}

p.big {

  color: var(--black);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 400;
}


.link {
  color: lightblue;
  text-decoration: none;
}
.link:hover{
  color: blue;
}

.item{
  font-family: 'Inter', sans-serif;

  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;

}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn--primary {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  width: 200px;
  color: var(--primary-50);
  background: var(--primary);
  padding: 1rem 1.5rem
}

.btn--secondary {
  font-size: 1.25rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  width: 200px;
  color: var(--secondary-50);
  background: var(--secondary);
  padding: 1rem 1.5rem

}


@media (min-width: 640px) {}

@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

.card--tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--tech img {
  width: 100px;
}




/* Page */


body > * {
  padding-left:  15px;
  padding-right:  15px;

}
header{
  display: flex;
  height: 85vh;
  flex-wrap: wrap;
  padding-top: 40px;
  margin-bottom: 120px;
  background-color: var(--primary-50);
}

.about{
  margin-bottom: 100px;
}
.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-container{

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:baseline;
  row-gap: 40px;
  column-gap: 60px;
}
.portfolio{
  margin-bottom: 100px;
}
.cta{
  margin-bottom: 100px;
  height: 60vh;
  display: grid;
  place-items: center;
}
.cta__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.solutions__text {
  display: flex;
  flex-direction: column;
  align-items: center;

}

footer{
  background: var(--secondary-300);
  padding-bottom: 50px;
  margin-top: 50px;

}

@media (min-width: 768px) {
  body > * {
    padding-left: 80px;
    padding-right: 80px;
  }
  .tech-container{

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    width: 85vw;
  }


  footer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}


@media (min-width: 1024px) {
  body > * {
    padding-right: 100px;
    padding-left: 100px;
  }



}
